body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    justify-content: space-around;
    text-align: center;
    background: #283618;
    color: #fefae0;
    border: 3px solid #606c38;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #606c38;
    transition: 0.3s;        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    cursor: pointer;
background: #606c38;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
